.para1,.para2,.a1{
    float: left;
   
}
.a1{  
    position:relative;
    left: 1000px;
    padding:15px;
}
.para1,.para2{
    padding-left:15px;
}
.div1{
    background-color: rgb(228, 191, 122);
    color:white;
    height:40px;
    padding:5px;
    width:100vw;
}
.head1{
    color:rgb(234, 179, 95);
}
.head2{
    color:red;
    position:relative;
}
.head1,.head2{
    float:left;
   
}
.div2{
    height:80px;
    background-color:white;
    float:left;
    position:absolute;
    left:10px;
    
}
.a2{
    float:left;
    text-decoration: none;
    color:black;
    padding:30px;
    position:relative;
    left:600px;
}
.div3{
    background-color: rgb(228, 191, 122);
    height:100vh;
    width:100vw;
    padding:5px;
    position:relative;
    top:75px;
    background-image: url(bg1.jpeg);
    background-size: cover;
    background-repeat:no-repeat ;
    
}
.div4{
    position:absolute;
    top:300px;
    left:100px;
    color:white;
    height:200px;
    width:500px;
    padding:10px;
}
.div4 p{
    color:white;
    font-size: 20px;
}
.div4 h1{
    color:white;
    font-size: 40px;
}
button{
    background-color: brown;
    color:white;
    padding:10px 15px 10px 15px;
    border-radius:50px;
    border-style: none;
}